<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Forum</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    
</head>
<body>
    
    <div class="main">
        
        <div class="title-bar">

        
            <div class="page-title">
                <h1>Library Shelves</h1>
            </div>
            <div class="search-bar-container">
                <input id="search-bar" class="search-bar" type="text" placeholder="Search">
                <a id="btnSearch" class="btn-search" href="#search-query"><img id="search-btn-logo" src="icons/magnifying-glass.png" alt=""></a>
              </div>
        </div>

        <div class="genres">
            
            <a href="#genre-1">
                <div class="genre">
                    <div class="genre-icon-container">
                        <img class="genre-icon-img" src="/homepage_Images/genre-icons/classics.png" alt="Genre Icon">
                    </div>
                    <div class="genre-title">
                        <span class="genre-name">Classics</span>
                    </div>
                    <div class="genre-tagline">
                        Timeless tales that resonate through the ages
                    </div>

                    
                    
                </div>
            </a>
            
            <a href="#genre-1">
                <div class="genre">
                    <div class="genre-icon-container">
                        <img class="genre-icon-img" src="genre-icons/romance (5).png" alt="Genre Icon">
                    </div>
                    <div class="genre-title">
                        <span class="genre-name">Romance</span>
                    </div>
                    <div class="genre-tagline">
                        Heartfelt stories of love and passion
                    </div>
                </div>
            </a>
            
            <a href="#genre-1">
                <div class="genre">
                    <div class="genre-icon-container">
                        <img class="genre-icon-img" src="genre-icons/science-fiction.png" alt="Genre Icon">
                    </div>
                    <div class="genre-title">
                        <span class="genre-name">Science Fiction (Sci-Fi)</span>
                    </div>
                    <div class="genre-tagline">
                        Journey to the stars and beyond
                    </div>
                </div>
            </a>

            <a href="#genre-1">
                <div class="genre">
                    <div class="genre-icon-container">
                        <img class="genre-icon-img" src="genre-icons/biography (3).png" alt="Genre Icon">
                    </div>
                    <div class="genre-title">
                        <span class="genre-name">Biographies & Memoir</span>
                    </div>
                    <div class="genre-tagline">
                        Real lives, inspiring stories
                    </div>
                </div>
            </a>

            <a href="#genre-1">
                <div class="genre">
                    <div class="genre-icon-container">
                        <img class="genre-icon-img" src="genre-icons/history.png" alt="Genre Icon">
                    </div>
                    <div class="genre-title">
                        <span class="genre-name">History</span>
                    </div>
                    <div class="genre-tagline">
                        Discover the past, shape the future
                    </div>
                </div>
            </a>

            <a href="#genre-1">
                <div class="genre">
                    <div class="genre-icon-container">
                        <img class="genre-icon-img" src="genre-icons/poetry (1).png" alt="Genre Icon">
                    </div>
                    <div class="genre-title">
                        <span class="genre-name">Poetry</span>
                    </div>
                    <div class="genre-tagline">
                        Words that dance off the page
                    </div>
                </div>
            </a>

            <a href="#genre-1">
                <div class="genre">
                    <div class="genre-icon-container">
                        <img class="genre-icon-img" src="genre-icons/self-help-2.png" alt="Genre Icon">
                    </div>
                    <div class="genre-title">
                        <span class="genre-name">Self-Help</span>
                    </div>
                    <div class="genre-tagline">
                        Empowering you to be your best self
                    </div>
                </div>
            </a>

            <a href="#genre-1">
                <div class="genre">
                    <div class="genre-icon-container">
                        <img class="genre-icon-img" src="genre-icons/mystery-detective-1.png" alt="Genre Icon">
                    </div>
                    <div class="genre-title">
                        <span class="genre-name">Detective and Mystery</span>
                    </div>
                    <div class="genre-tagline">
                        Unravel the clues, solve the case
                    </div>
                </div>
            </a>

            <a href="#genre-1">
                <div class="genre">
                    <div class="genre-icon-container">
                        <img class="genre-icon-img" src="genre-icons/horror-book.png" alt="Genre Icon">
                    </div>
                    <div class="genre-title">
                        <span class="genre-name">Horror</span>
                    </div>
                    <div class="genre-tagline">
                        Face your fears in the darkness
                    </div>
                </div>
            </a>

            <a href="#genre-1">
                <div class="genre">
                    <div class="genre-icon-container">
                        <img class="genre-icon-img" src="genre-icons/comic.png" alt="Genre Icon">
                    </div>
                    <div class="genre-title">
                        <span class="genre-name">Comic Book or Graphic Novel</span>
                    </div>
                    <div class="genre-tagline">
                        Illustrated adventures that leap off the page
                    </div>
                </div>
            </a>

            <a href="#genre-1">
                <div class="genre">
                    <div class="genre-icon-container">
                        <img class="genre-icon-img" src="genre-icons/adventure.png" alt="Genre Icon">
                    </div>
                    <div class="genre-title">
                        <span class="genre-name">Action and Adventure</span>
                    </div>
                    <div class="genre-tagline">
                        Thrilling adventures and heart-pounding action
                    </div>
                </div>
            </a>
        
            <a href="#genre-1">
                <div class="genre">
                    <div class="genre-icon-container">
                        <img class="genre-icon-img" src="genre-icons/historical-fiction.png" alt="Genre Icon">
                    </div>
                    <div class="genre-title">
                        <span class="genre-name">Historical Fiction</span>
                    </div>
                    <div class="genre-tagline">
                        Journey through the past and relive history
                    </div>
                </div>
            </a>

        </div>
    </div>
    

</body>
</html>
